<% provide(:title, "About") %>

    <h1>About</h1>
    <hr>

    <article>
      <section id="sec2">

      	<div class="box float_area">
      		<div>
      			<h2>Computer</h2>
      			<p>いづれの御時にか、女御、更衣あまた さぶらひたまひけるなかに、いとやむごとなき際にはあらぬが、すぐれて 時めきたまふありけり。<br>
      			はじめより我はと思ひ上がりたまへる御方がた、めざましきものにおとしめ嫉みたまふ。同じほど、それより下臈の更衣たちは、ましてやすからず。<br>
      			朝夕の宮仕へにつけても、人の心をのみ動かし、恨みを負ふ積もりにやありけむ、いと篤しくなりゆき、もの心細げに里がちなるを、いよいよあかずあはれなるものに思ほして、人のそしりをもえ憚らせたまはず、世のためしにもなりぬべき御もてなしなり。</p>
      		</div>
      		<div>
      			<h2>Programing</h2>
      			<p>いづれの御時にか、女御、更衣あまた さぶらひたまひけるなかに、いとやむごとなき際にはあらぬが、すぐれて 時めきたまふありけり。<br>
      			はじめより我はと思ひ上がりたまへる御方がた、めざましきものにおとしめ嫉みたまふ。同じほど、それより下臈の更衣たちは、ましてやすからず。<br>
      			朝夕の宮仕へにつけても、人の心をのみ動かし、恨みを負ふ積もりにやありけむ、いと篤しくなりゆき、もの心細げに里がちなるを、いよいよあかずあはれなるものに思ほして、人のそしりをもえ憚らせたまはず、世のためしにもなりぬべき御もてなしなり。</p>
      		</div>
      		<div>
      			<h2>English</h2>
      			<p>いづれの御時にか、女御、更衣あまた さぶらひたまひけるなかに、いとやむごとなき際にはあらぬが、すぐれて 時めきたまふありけり。<br>
      			はじめより我はと思ひ上がりたまへる御方がた、めざましきものにおとしめ嫉みたまふ。同じほど、それより下臈の更衣たちは、ましてやすからず。<br>
      			朝夕の宮仕へにつけても、人の心をのみ動かし、恨みを負ふ積もりにやありけむ、いと篤しくなりゆき、もの心細げに里がちなるを、いよいよあかずあはれなるものに思ほして、人のそしりをもえ憚らせたまはず、世のためしにもなりぬべき御もてなしなり。</p>
      		</div>
      	</div>
      </section>
    </article>