<% provide(:title, "Contact") %>

    <h1>Contact</h1>
    <hr>
    <p>
    <b>【お問い合わせ先】</b><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skill UP KOZA<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-Mail : koza.up@gmail.com<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;電話 : 098-989-3739<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;住所 : 沖縄市コザ1－2－3<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;担当 : 大城<br>
    </p>
          <br><br>

          <section id="sec2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14302.896825945088!2d127.80345954999999!3d26.33542855!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1480499075981" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </section>
    </article>