<% provide(:title, "Help") %>

    <h1>Help</h1>
    <hr>
<pre style="color:#333333; font-size:125%;">　Q 1.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 1.　</p>
<pre style="color:#333333; font-size:125%;">　Q 2.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 2.　</p>
<pre style="color:#333333; font-size:125%;">　Q 3.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A3.　</p>
<pre style="color:#333333; font-size:125%;">　Q 4.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 4.　</p>
<pre style="color:#333333; font-size:125%;">　Q 5.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 5.　</p>
<pre style="color:#333333; font-size:125%;">　Q 6.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 6.　</p>
<pre style="color:#333333; font-size:125%;">　Q 7.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 7.　</p>
<%#<pre style="color:#333333; font-size:125%;">　Q 8.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 8.　</p>
<pre style="color:#333333; font-size:125%;">　Q 9.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A 9.　</p>
<pre style="color:#333333; font-size:125%;">　Q10.　</pre>
<p style="color:#ff9900; font-size:125%;">　　A10.　</p>%>